.brand {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.tab {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
