.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
}

.buttonText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.5px;
}
